.delivery {

    @apply
    overflow-hidden
    rounded-primary
    relative
    bg-indigo-600;
    &__container {
        margin: 0 auto;
        max-width: 1680px;
        @apply
        px-5
        justify-between
        py-20
        max-lg:flex
        max-lg:flex-col
        max-lg:items-center
        max-lg:text-center
        ;
    }
    &__title {
        @apply
        text-6xl
        font-bold
        w-1/2
        text-white
        z-20
        mb-28
        max-lg:w-full
        max-lg:text-5xl;
  
    }
    &__text {
        @apply
        block
        z-20
        text-2xl
        font-semibold
        text-white;
    
    }
    &__earth {
        @apply
        absolute bottom-0 right-0
        z-10
        w-7/12
        max-lg:w-full
        opacity-30;
    }
    &__link {
        @apply
        z-20
        mt-16
        flex items-center justify-center
        bg-black
        py-4 px-10
        w-fit
        rounded-xl
        text-white
        ease-in-out
        duration-200
        max-sm:w-full
        hover:bg-white
        hover:text-black;
        &_icon {
            @apply
            ml-3
            duration-75
            ease-in-out
        }
    }
    &__link:hover .delivery__link_icon{
            @apply
            translate-x-1
            duration-75
            ease-in-out
            ;
    }
}