.advantages {

    @apply
    rounded-primary
    bg-[#D7E5F7];
 
    &__container {
        margin: 0 auto;
        max-width: 1680px;
        @apply
        px-5
        items-center
        justify-between
        h-fit
        py-20
        grid
        grid-cols-3
        grid-rows-2
        gap-10
        max-xl:gap-8
        max-lg:grid-cols-2
        max-lg:grid-rows-[60px_1fr_1fr]
        max-lg:gap-6
        max-sm:grid-rows-[100px_1fr_1fr_1fr_1fr]
        max-md:py-16
        max-sm:py-12
        ;
    }

    &__title {
        @apply
        text-6xl
        h-full
        max-xl:text-5xl
        max-lg:text-4xl
        font-bold
        col-span-1
        row-span-2
        max-lg:col-span-2
        max-lg:row-span-1
        max-lg:text-center
        max-lg:mb-4
        ;
    }

    &__card {
        @apply
        bg-white
        flex
        overflow-hidden
        items-center
        h-full
        rounded-[30px]
        max-md:col-span-2
        ;
        & span{
            @apply
            block
            2xl:text-3xl
            xl:text-2xl
            lg:text-xl
            md:text-2xl
            sm:text-3xl
            max-sm:text-2xl
            sm:w-8/12
            font-bold
            p-2 my-3;
        }
        &_image{
            @apply
            h-full
            ;
        }
    }
}